main{
    position: relative;
    height: 100vh;
    background-color: #222327;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}

.shape:last-child{
    background: linear-gradient(
        to right,
        #4d4d4d,
        #000
    );
    right: -30px;
    bottom: -80px;
}

form{
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
textarea{
    padding-top: 10px!important;
    width: 100%;          /* Fixe la largeur à 100% du conteneur parent */
    height: auto;         /* La hauteur s'ajuste automatiquement */
    overflow-y: auto;     /* Ajoute une barre de défilement verticale si nécessaire */
    resize: vertical; 
}

input, textarea{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#containerFlex{
    display: flex;
    justify-content: space-between;
}

#containerFlex div{
    width: 45%;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #000 !important;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 676px) {
    main{
        padding: 120px 0px 150px 0px;
    }
    
    form{
        width: 50%;
    }
    .background{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    form{
        width: 50%;
    }

    form h3{
        font-size: 17px;
    }

    #containerFlex{
        flex-direction: column;
    }

    #containerFlex div{
        width: 100%;
    }
}