<footer class="footer">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li class="social-icon__item">
                <a class="social-icon__link" href="https://www.facebook.com/matthis.phan.9" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                    <i class="fa-brands fa-facebook" aria-hidden="true"></i>
                </a>
            </li>

            <li class="social-icon__item">
                <a class="social-icon__link" href="https://www.linkedin.com/in/matthis-phan/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>

            <li class="social-icon__item">
                <a class="social-icon__link" href="https://www.instagram.com/matthisphan/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                </a>
            </li>

            <li class="social-icon__item">
                <a class="social-icon__link" href="https://github.com/Matthisphan" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                    <i class="fa-brands fa-github" aria-hidden="true"></i>
                </a>
            </li>
        </ul>

        <hr>

        <p>&copy; {{ currentYear }} Matthis PHAN</p>
</footer>
