<main>
    <div class="container">
        <div id="aboutMe">
            <svg viewBox="0 0 1320 180">
                <text x="50%" y="50%" dy="40px" text-anchor="middle">Matthis PHAN</text>
            </svg>

            <h2>Développeur Web Fullstack</h2>
            
            <p>Bienvenue sur mon portfolio ! Découvrez mes projets et n'hésitez pas à me contacter pour discuter de collaborations futures.</p>

            <button class="buttonContact">
                <a href="#section_contact"><span>Contactez-moi</span></a>
            </button>
            
        </div>
    </div>

    <div class="container">
        <img src="photo_profile.png" alt="photo de profile">
    </div>

    <a href="#section_project" class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
    </a>
</main>
