<div class="home-section">
    <div class="container">
        <div id="aboutMe">
            <svg viewBox="0 0 1320 180">
                <text x="50%" y="50%" dy="40px" text-anchor="middle">Matthis PHAN</text>
            </svg>

            <h2>Développeur Web Fullstack</h2>
            
            <p>Bienvenue sur mon portfolio ! Découvrez mes projets et n'hésitez pas à me contacter pour discuter de collaborations futures.</p>

            <a class="buttonContact" href="#section_contact"><span>Contactez-moi</span></a>
            
        </div>
    </div>

    <div class="container">
        <img src="photo_profile.png" alt="Portrait de Matthis PHAN">
    </div>

    <a href="#section_project" class="scroll-downs" aria-label="Voir les projets">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
    </a>
</div>
